* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
}

p {
    color: slategray;
}

h1 {
    font-weight: bold;
    font-family: 'Times New Roman', Georgia, Times, serif;
}

a {
    text-decoration: none;
    color:slategray
}

div, section {
    display: flex
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:beige;
    border-bottom: 4px slategray solid
}

header nav {
    margin: 10px, 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header nav ul li {
    display:inline-block;
    margin: 15px 0;
    font-size: larger;
    
}

header nav ul li a {
    text-decoration: underline;
    margin: 0 40px;
}

.hero {
    height: 400px;
    background-size: cover;
    background-position: center;
    background-image: url(../images/pexels-veeterzy-38136.jpg);
    border-bottom: 4px slategray solid;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hero-text {
    position: absolute;
    bottom: 10px;
    right: 20px;
    background-color: rgba(128, 128, 128, 0.404) ;
}

.hero-text p {
    color: black
}

section h2 {
    color: slategray;
    font-size: xx-large;
    margin-top: 10px;
    text-decoration: underline;
}

#About-Me-title, #Projects-heading {
    width:100%;
    padding-left: 70px;
    border-bottom: 4px slategray dashed
}

#About-Me {
    margin-bottom: 15px; 
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: space-between;
    
}

.About-Me-Content {
    width: 100%;
}

.About-Me-Body {
    margin-left: 25px;
    padding-top: 10px;
    width: 700px;
}

.Selfie {
    width: 300px;
    margin-left: 20px;
    padding-top: 10px;
}

.Selfie img {
    width: 300px;
    border: 4px slategray solid;
}

#Projects {
    border-top: 4px slategray solid;
    position: relative;
    background-image: url(./images/pngfind.com-white-wave-png-4546958.png);
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

#project-heading h2 {
    text-align:center
}

.All-Projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: space-between;
}

.Challenges {
    display: flex;
    width: 500px;
    margin: 10px auto;
}

.Challenges-pic {
    width: 400px;
}

.Challenges-pic img {
    border: 4px slategrey solid;
    height: 200px;
    width: 400px;
}

.Challenges-title {
    padding: 10px;
    width: 100px;
}

.Challenges-title p {
    font-weight: bold;
    font-size: x-large;
    text-decoration: underline;
    text-align:center;
    width: 100%;
}

#Contact-Me {
    border: 4px slategray solid;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

#Contact-Me div {
    width:100%;
    background-color: #ffffff8e;
}

#Contact-Me div h2 {
    margin: 10px auto;
}


#Contact-Me form {
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
    background-color: #ffffff8e;
}

#Contact-Me form label {
    color: slategrey;
}

#Contact-Me form input {
    display:block;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    border: 2px black solid;
    height: 20px
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%
}

footer li {
    display: inline-block;
    font-style: oblique;
    color: slategray;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        justify-content: space-between;
    }

    header h1 {
        text-align:left;
        
    }
    
    header nav {
        width: 100%;
        border-top: solid slategray 2px
    }

    header nav ul li {
        font-size: 5.5vw;
        margin: 10px 0
    }

    header nav ul li a {
        margin: 0 20px;
    }

    #About-Me-title, #Projects-heading {
        padding-left: 20px;
    }

    .About-Me-Body {
        width: 150px;
        font-size: 13px;
    }

    .Selfie {
        padding-top: 15px;
        width: 200px;
    }

    .Selfie img {
        width: 200px;
        height: 400px;
    }

    .Challenges {
        width: 325px
    }
    
    .Challenges-pic img, .Challenges-pic {
        width: 250px;
    }

    section h2 {
        width: 325px;
        text-align: center;
    }

    #Contact-Me form input {
        margin-bottom: 4px;
    }

    #Contact-Me form button {
        margin-top: 4px;
    }
}