* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
}

p {
    color: slategray;
}

h1 {
    font-weight: bold;
    font-family: 'Times New Roman', Georgia, Times, serif;
}

a {
    text-decoration: none;
    color:slategray
}



header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:beige;
    border-bottom: 4px slategray solid
}

header nav {
    margin: 10px, 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header nav ul li {
    display:inline-block;
    margin: 15px 0;
    font-size: larger;
    
}

header nav ul li a {
    text-decoration: underline;
    margin: 0 40px;
}

.hero {
    height: 400px;
    background-size: cover;
    background-position: center;
    background-image: url(../images/pexels-veeterzy-38136.jpg);
    border-bottom: 4px slategray solid;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hero-text {
    position: absolute;
    bottom: 10px;
    right: 20px;
    background-color: rgba(128, 128, 128, 0.404) ;
}

.hero-text p {
    color: black
}

section h2 {
    color: slategray;
    font-size: xx-large;
    margin-top: 10px;
    text-decoration: underline;
}

#About-Me {
    margin-bottom: 15px; 
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: space-between;
}

.About-Me-Body {
    margin-top: 120px;
    margin-left: 30px;
    width: 43%;
}

.Selfie {
    display:inline-block;
    width: 30%;
    padding-top: 10px;
}

.Selfie img {
    width: 300px;
    border: 4px slategray solid;
}

#Projects {
    border-top: 4px slategray solid;
    position: relative;
    background-image: url(./images/pngfind.com-white-wave-png-4546958.png);
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

#Projects-heading{
    transform: rotate(-90deg);
    position: absolute;
    top: 400px
} 

#project-heading h2 {
    text-align:center
}

.Run-buddy-picture img {
    height:400px;
    width:700px;
    border: 4px solid slategrey;
    margin: 0 350px;
}

#Place-holder-1, #Place-holder-2 {
    display: inline-block;
    padding: 20px 100px;
    width: 40%;
    margin: 0 50px;
}

.Place-holder-pic img {
    border: 4px slategrey solid;
    height: 200px;
    width: 420px;
}

.Project-title {
    padding: 10px
}

.Project-title p {
    font-weight: bold;
    font-size: x-large;
    text-decoration: underline;
    text-align:center
}

#Contact-Me {
    position: relative;
    border: 4px slategray solid;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

#Contact-Me div {
    display: inline-block;
    transform: rotate(-90deg);
    border-bottom: 4px solid slategray;
    position: absolute;
    bottom: 80px;
}

#Contact-Me h2 {
    padding:0 
}

#Contact-Me form {
    padding: 20px;
    text-align: center;
    width: 100%;
    background-color: #ffffff8e;
}

#Contact-Me form label {
    color: slategrey;
}

#Contact-Me form input {
    display:block;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    border: 2px black solid;
    height: 20px
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%
}

footer li{
    display: inline-block;
    font-style: oblique;
    color: slategray;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    
}
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    
  }