* {
    margin: 0;
    padding: 0;
}

body {
    background-color: beige;
}

p {
    color: slategray;
}

.hero {
    height: 400px;
    background-size: cover;
    background-position: center;
    background-image: url(./images/tech-3041437_1920.jpg);
    border-bottom: 4px slategray solid
}


header {
    background-color:beige;
    border-bottom: 4px slategray solid
}

h1 {
    font-weight: bold;
    display: inline;
    font-family: 'Times New Roman', Georgia, Times, serif;
}

h1 a {
    text-decoration: none;
    color:slategray
}

header nav {
    float: right;
    margin: 10px, 0;
}

header nav ul li {
    display:inline-block;
    margin: 15px 0;
    font-size: larger;

}

header nav ul li a {
    text-decoration: underline;
    margin: 0 40px;
    color:slategray;
}
section {
    margin: auto;
}

section h2 {
    color: slategray;
    font-size: xx-large;
    margin-bottom: 15px;
    margin-top: 10px;
    text-decoration: underline;
    padding-left: 80px;
}

#About-Me {
    margin-bottom: 15px;
}

.About-Me-Body {
    float: right;
    width: 70%;
}

#About-Me img {
    width: 300px;
    display: inline-block;
    border: 4px slategray solid
}

.Selfie {
    display:inline-block;
    width: 30%
}

#Projects {
    border-top: 4px slategray solid;

}

#Projects-heading{
    transform: rotate(-90deg);
    padding: 4px 0px;
    display: inline-block;
    position: absolute;
    margin: 199px 0 0 0;
}

.Place-holder {
    display: inline-block;
    width: 40%;
    margin: 0 56px;
}

.Place-holder-pic img {
    border: 4px slategrey solid;
    height: 200px;
    width: 420px;
}

.Place-holder-pic {
    width: 420px;
    margin: 0 auto,
}


.Run-buddy-picture {
    padding: 24px 395px;
}
.Run-buddy-picture img {
    height:200px;
    width:400px;
    border: 4px solid slategrey
    
}

#Contact-Me {
    margin-top: 20px;
    position: relative;
    border: 4px slategray solid
}

#Contact-Me h2 {
    padding:0 
}

#Contact-Me div {
    display: inline-block;
    transform: rotate(-90deg);
    border-bottom: 4px solid slategray;
    position: absolute;
    bottom: 80px;
}

#Contact-Me form {
    display: inline-block;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff8e;
}

#Contact-Me form input {
    display:block;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    border: 2px black solid;
    height: 20px
}

#Contact-Me form label {
    color: white;
}

footer ul {
    width: 100%
}

footer li{
    display: inline-block;
    font-style: oblique;
    color: slategray;
    margin: 0 170px;
    
}

